<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-default" id="navigation-purple">
        <div class="container">
            <a href="#"><img class="img-responsive img-circle avatar" src="assets/skyscraper.jpg" alt="Avatar"></a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li routerLink='/home'><a>HOME</a></li>
                    <li><a routerLink='/about'>ABOUT</a></li>
                    <li><a>CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>


